

<section id="index-banner">
</section>
<section id="index-restorans">
  <div class="restorans-container">
    <div class="restorans-row">
      <div class="restorans-grid">
        <div class="restorans-item bruno">
          <%= embedded_svg("bruno-logo.svg") %>
        </div>
        <h2>Італійська кухня</h2>
        <p>Піца, паста, свіжі салати, напої</p>
      </div>

      <div class="restorans-grid">
        <div class="restorans-item baba-frana">
          <%= embedded_svg("baba-frana.svg") %>
        </div>
        <h2>Європейська кухня</h2>
        <p>Страви з мяса, борщ, зупа, вареники, узвари, солодке</p>
      </div>

      <div class="restorans-grid">
        <div class="restorans-item barbaris">
          <%= embedded_svg("barbaris.svg") %>
        </div>
        <h2>Японська кухня</h2>
        <p>Суші, супи, та інші японські страви</p>
      </div>


    </div>
  </div>
</section>

<section id="index-recommended-week">
  <h1>Пропизиція тижня</h1>
</section>


