$brand-orange: #FF661B;
$brand-darkblue: #212844;
$brand-green: #00948F;
$brand-yellow: #FF9E15;
$brand-error: #EC0044;

$padding-brand-top: 80px;
$padding-brand-bottom: 280px;


@mixin fira(){
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}


html{

  body{
    transition: opacity ease-in 0.2s;

    -webkit-font-smoothing: antialiased;

    font-family: "Fira Sans", sans-serif;
    font-weight: 400;

  }
}


/*
 Sticky footer
 */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#magic-wrapper {
  min-height: 100%;
  margin-bottom: -490px;
}
#magic-wrapper:after {
  content: "";
  display: block;
}
footer, #magic-wrapper:after {
  height: 490px;
}
footer {
  background: url("Yizhaku-pattern-blue-15%25.jpg") repeat 0 0;
}

